<div>
    <div class="row">
        <div class="col-md-6">
           <div class="panel panel-default" >
               <div class="panel-header alert alert-info">个人信息</div>
               <p>&nbsp;昵称：牛牛</p>
               <p>&nbsp;联系方式：男</p>
           </div>
            <div class="panel panel-default" >
                <div class="panel-header  alert alert-info"><span class="glyphicon glyphicon-user"></span>&nbsp;在线用户</div>
                <table class="table table-striped">
                    <tr>
                        <td width="10%">男</td>
                        <td>
                            <span></span> 牛牛牛
                        </td>
                    </tr>
                    <tr>
                        <td>男</td>
                        <td>
                            <span></span> 牛牛牛
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-header  alert alert-info">
                   <span class="glyphicon glyphicon-comment"></span> 聊天内容
                </div>
                <div class="panel-body">
                    <p><b class="user">牛牛 [{{date|date:'HH:mm:ss'}}]</b><span class="glyphicon glyphicon-bullhorn"></span></p>
                    <div>
                        你好啊
                    </div>
                    <p><b class="user">牛牛 [{{date|date:'HH:mm:ss'}}]</b><span class="glyphicon glyphicon-bullhorn"></span></p>
                    <div>
                        你好啊
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-info">发送</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>